/* Hero Container */
.hero-container {
    position: relative;
    width: 100%;
    height: 95vh;
    overflow: hidden;
  }
  
  /* Hero Image */
  .hero {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Overlay */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(55, 1, 36, 0.5); /* Adjust opacity as needed */
  }
  
  /* Hero Content */
  .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 1;
  }
  
/* Hero Title */
.hero-title {
    font-family: 'Outfit', sans-serif; /* Ensure 'Outfit' font is available */
    font-size: 6em;
    margin-bottom: 20px;
    margin-right: 90vh; /* Adjust the left margin as needed */
  }
  