/* Navbar Container */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; /* Ensure navbar is above the hero image */
  background-color: rgba(0, 0, 0, 0.3); /* Transparent background */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo{
    display: flex;
    align-items: center;
    width: 100px;
}

.navbar-logo {
    height: 25px; 
    width: auto; 
    float: left; 
    margin: 10px; 
}

/* Logo */
.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    transition: color 0.3s ease;
}

.logo a:hover {
    color: #ddd;
}

/* Navigation Links Container */
.navLinks {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

/* Navigation Link Items */
.navLinks li {
    margin: 0 15px;
}

.navLinks a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    padding: 5px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navLinks a:hover {
    background-color: #575757;
    border-radius: 4px;
}

