.introContainer {
  width: 100%;
  display: flex;
  height: 500px;
 
  margin: auto 40px;
  margin-top: 100px;
  align-items: stretch;
  justify-content: space-between;
}

.videoTextContainer {
  position: relative;
  width: 45%;
  height: 400px;
  overflow: hidden;
}

.videoWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.backgroundVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  border-radius: 20px;
}

.textOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 1;
  font-family: 'Times New Roman', serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.fadeInText {
  opacity: 0;
  animation: fadeIn 3s ease-in forwards;
}

.fadeInTextTitle {
  font-size: 2.6em;
  line-height: 1.2;
  margin-bottom: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.fadeInTextTitle2 {
  font-size: 1.2em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.aboutSection {
  width: 50%;
  margin-right: 20px;
  margin-top: -250px;
  padding: 40px;
  color: #999;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutSection h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.aboutSection p {
  font-size: 1.1em;
  line-height: 1.6;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}